*{
	margin: 0;
	padding: 0;
}
.flex{
	display: flex;
}
.flex-column{
	flex-direction: column;
}
.flex-row{
	flex-direction: row;
}
.flex-align{
	align-items: center;
}
.comment-box h3, h4{
	display: block;
	width: 100%;
	margin: 5px;
}
.comment-box img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}