<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/masterstyle.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/post_style.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
	</head>
	<body>
		<div class="nav-container">
			<nav class="navbar">
				<ul>
					<li><a id="brand" href="">Medium</a></li>
					<li><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
					<li><a class="nav-link" href="">About</a></li>
					<li><a class="nav-link" href="">Posts</a></li>
					<li id="logout"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
			</nav>
		</div>
		<!-- <div id="modal" class="modal">
			<div class="modal-content">
				<span id="close-button" class="closeBtn">&times;</span>
				<h3 class="content">Are you sure you want to delete this?</h3>
				<form action="" method="POST">
					<input type="button" value="Yes">
					<input type="submit" value="No">
				</form>
			</div>
		</div> -->
		<div class="container">
			{% block content %}
			{% endblock content  %}
		</div>
		<footer class="footer">
			<h4>Medium</h4>
		</footer>
		<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
	</body>
</html>