<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/masterstyle.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
		<title>Document</title>
	</head>
	<body>
		{% block form_content %}
		{% endblock form_content %}
	</body>
	<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</html>