*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}
body{
	background-color: #f7f7f7;
}
.footer{
	background-color: #007ea7;
	width: 100%;
	display: block;
}
.footer h4{
	display: block;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
}
.navbar{
	display: block;
	background-color: #007ea7;
}
.navbar ul{
	display: block;
	width: 60%;
	margin: auto;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
}
.nav-link{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	padding: 6px 14px;
	text-decoration: none;
	color: white;
	transition: 0.3s;
}
.nav-link:hover{
	background-color: #00a8e8;
}
#logout{
	float: right;
}
#brand{
	font-size: 1.2em;
	font-family: 'Gloria Hallelujah', cursive;
	padding: 10px 10px 10px 0;
	text-decoration: none;
	color: white;
}
.text-field{
	padding: 6px 12px;
	border: none;
	border-radius: 0;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	transition: 0.3s;
	border: 1px solid black;
}
.text-field-login{
	border: none;
	border-bottom: 2px solid #00a8e8;
}
.text-field-login:focus{
	border-bottom: 2px solid #007ea7;
}
.button{
	border: 2px solid #00a8e8;
	padding: 6px 12px;
	background-color: white;
	color: white;
	cursor: pointer;
	display: block;
	margin: 15px auto auto auto;
	transition: 0.3s;
	color: #00a8e8;
}
.button-login{
	width: 100%;
}
.button:hover{
	background-color: #00a8e8;
	color: white;
}
.form-class{
	min-width: 280px;
	width: 20%;
	padding: 10px 10px 0 10px;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
}
.form-class-fieldset{
	padding: 10px;
	border: none;
}
.form-class-fieldset legend{
	font-size: 1.5em;
}
.new-post-fieldset{
	padding: 0 !important;
}
.form-elements{
	margin-bottom: 10px;
	width: 100%;
}
.form-elements a{
	text-decoration: none;
	color: black;
	transition: 0.3s;
}
.form-elements a:hover{
	text-decoration: underline;
}
.form-elements textarea{
	resize: vertical;
}
.post{
	margin: 10px 0 10px 0;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	min-width: 280px;
	box-sizing: border-box;
}
.post-elements{
	margin-bottom: 5px;
}
.post-pic-size{
	width: 50px;
}
.post-pic{
	border-radius: 50%;
}
.post-author{
	color: #003459;
	text-decoration: none;	
}
.name-date{
	margin-left: 10px;
	width: 150px;
}
.name-date h6>span{
	color: grey;
}
.error{
	padding: 5px;
	display: block;
	color: red;
	font-size: 12px;
}
.modalBtn{
	z-index: 0;
}
.modal{
	display: none;
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.modal-content{
	background-color: white;
	width: 30%;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}
.closeBtn{
	float: right;
	font-size: 2em;
	color: #ccc;
	padding: 10px;
}
.closeBtn:hover{
	color: black;
	cursor: pointer;
}
.content{
	padding: 20px;
}
.delete-form-container{
	width: 100%
}
.delete-form-container form{
	float: right;
}
.comment-button{
	background-color: none;
	border: none;
	text-decoration: underline;
	cursor: pointer;
	margin-bottom: 10px;
	color: blue;
}